.topic-body {
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12);
    padding: 15px 20px 0 20px;
    float: left;
    border-radius: 4px;
    border-bottom: none;
  }
  
  .topic-avatar {
    border-top: none;
    border-bottom: none;
    padding-right: 10px;
  }
  
  .small-action {
    border-top: none;
  }